<form (ngSubmit)="onSubmit()">
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Agregar citas</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Descriptcion</th>
                            <th>Duracion</th>
                            <th>Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><input type="text" class="form-control" name="nombre" [(ngModel)]="cita.name" id="nombre"></td>
                            <td><input type="text" class="form-control" name="description"[(ngModel)]="cita.description" id="description"></td>
                            <td><input type="number" class="form-control" name="duration" [(ngModel)]="cita.duration" id="duration"></td>
                            <td><input type="text" class="form-control" name="color" [(ngModel)]="cita.color" id="color"></td>
                        </tr>
                        <tr>
                    </tbody>
                </table>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button class="btn btn-success">Guardar</button>
                <button class="btn btn-danger" (click)="inicio()">Volver</button>
            </div>
            </div>
        </div>
    </div>
</form>